.portfolio-section {
    padding: 5rem 9%;
    
    .btn {
        margin-top: 8px;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 7rem;
        background: $crimson;
        color: $white;
        font-size: 1.3rem;

        i {
            height: 3.5rem;
            width: 3.5rem;
            line-height: 4rem;
            font-size: 1.3rem;
            text-align: center;
            background: $white;
            color: $crimson;
            border-radius: 50%;
            transition: 0.2s linear;
            &:hover {
                margin-left: 2rem;
            }
        }
    }
    .heading {
        text-align: center;
        font-size: 30px;
        color: white;
        margin-bottom: 3rem;
        text-transform: uppercase;
        @media (max-width: 576px) {
            font-size: 25px;
        }
        span {
            text-transform: uppercase;
            color: $crimson;
        }
    }
    .box-container {
        @include grid(31rem);
      
        .box {
            height: 30rem;
            overflow: hidden;
            position: relative;
            &:hover .content{
                transform: translateY(0);
            }
            .img-wrapper {
                max-width: 700px;
                img {
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    border-radius: 10px ;
                }
            }
            .content {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $light-bg;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 100px 10px;
                transform: translateY(-100%);
                transition: .2s linear;
                border-radius: 10px 10px 0px 0px ;
                h3 {
                    font-size: 2.5rem;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: normal;
                }
                p {
                    padding: 1rem 0;
                    font-size: 1.5rem;
                    line-height: 2;
                    color: $light-color;
                    text-align: center;
                }
                button {
                    background: transparent;
                    border: none;
                    font-size: 2rem;
                    color: $crimson;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
