* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: none;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .heading {
    font-size: 25px;
  }
}
.heading span {
  text-transform: uppercase;
  color: crimson;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #0d0d0d;
}
html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
    overflow-y: scroll;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.nav-sec {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  flex: 1;
  color: white;
  text-align: center;
  transition: 0.2s linear;
}
@media (max-width: 450px) and (max-width: 450px) {
  a span {
    display: none;
  }
}
@media (max-width: 450px) {
  a i {
    padding: 0;
  }
}
@media (max-width: 450px) {
  a:hover {
    padding-bottom: 2rem;
  }
}
a i {
  color: crimson;
  padding-right: 0.5rem;
}
a:hover {
  background: crimson;
  padding-bottom: 4rem;
  border-radius: 5px 5px 0px 0px;
}
a:hover i {
  color: white;
}

.home-section {
  padding: 5rem 9%;
  display: flex;
  align-items: center;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}
@media (max-width: 1250px) {
  .home-section {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
}
.home-section .image {
  flex: 1 1 42rem;
}
@media (max-width: 1250px) {
  .home-section .image {
    flex: none;
  }
}
.home-section .image img {
  height: 40rem;
  width: 50rem;
  border-radius: 360% 249% 653%/411% 44% 954% 198%;
}
@media (max-width: 1250px) {
  .home-section .image img {
    height: 30rem;
    width: 30rem;
  }
}
.home-section .content {
  flex: 1 1 42rem;
}
@media (max-width: 1250px) {
  .home-section .content {
    flex: none;
  }
}
.home-section .content h3 {
  color: white;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 1250px) {
  .home-section .content h3 {
    font-size: 3rem;
  }
}
.home-section .content span {
  font-size: 3rem;
  color: crimson;
  padding: 0.5rem 0;
  display: block;
}
@media (max-width: 1250px) {
  .home-section .content span {
    font-size: 2.5rem;
  }
}
.home-section .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.home-section .content .btn {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 7rem;
  background: crimson;
  color: white;
  font-size: 1.7rem;
}
.home-section .content .btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  transition: 0.2s linear;
}
.home-section .content .btn i:hover {
  margin-left: 2rem;
}

.about-section {
  padding: 5rem 9%;
}
.about-section .heading {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .about-section .heading {
    font-size: 25px;
  }
}
.about-section .heading span {
  text-transform: uppercase;
  color: crimson;
}
.about-section .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about-section .row .btn {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 7rem;
  background: crimson;
  color: white;
  font-size: 1.3rem;
}
.about-section .row .btn i {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4rem;
  font-size: 1.3rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  transition: 0.2s linear;
}
.about-section .row .btn i:hover {
  margin-left: 2rem;
}
.about-section .row .info-container {
  flex: 1 1 42rem;
}
.about-section .row .info-container h1 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
@media (max-width: 576px) {
  .about-section .row .info-container h1 {
    font-size: 15px;
  }
}
.about-section .row .info-container .box-container {
  padding: 1rem 0;
  display: flex;
  flex: wrap;
  gap: 2rem;
}
.about-section .row .info-container .box-container .box {
  flex: 1 1 20rem;
}
.about-section .row .info-container .box-container .box h3 {
  font-size: 1.3rem;
  color: white;
  padding: 1rem 0;
  font-weight: normal;
}
.about-section .row .info-container .box-container .box h3 span {
  color: #aaa;
}
.about-section .row .count-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.about-section .row .count-container .box {
  flex: 1 1 20rem;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  background: #1a1a1a;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
.about-section .row .count-container .box h3 {
  font-size: 5rem;
  color: crimson;
}
.about-section .row .count-container .box p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #aaa;
}

.skills-section {
  padding: 7rem 9%;
}
.skills-section .heading {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .skills-section .heading {
    font-size: 25px;
  }
}
.skills-section .heading span {
  text-transform: uppercase;
  color: crimson;
}
.skills-section .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.skills-section .box-container .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  background: #1a1a1a;
}
.skills-section .box-container .box:hover {
  background: white;
}
.skills-section .box-container .box:hover h3 {
  color: #0d0d0d;
}
.skills-section .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}
.skills-section .box-container .box h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
}

.education-section {
  padding: 7rem 9%;
}
.education-section .box-container {
  display: flex;
  flex-wrap: wrap;
}
.education-section .box-container .box {
  flex: 1 1 40rem;
  margin-left: 3.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}
.education-section .box-container .box i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1, 7rem;
  border-radius: 50%;
  background-color: crimson;
  color: white;
  text-align: center;
  position: absolute;
  top: -1.5rem;
  left: -2.3rem;
}
.education-section .box-container .box span {
  font-size: 1.7rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  background: #1a1a1a;
}
.education-section .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
  font-weight: normal;
  padding-top: 3rem;
}
.education-section .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

.blog-section {
  padding: 5rem 9%;
}
.blog-section .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.blog-section .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #1a1a1a;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
.blog-section .box-container .box:hover .image-wrapper img {
  transform: scale(1.2);
}
.blog-section .box-container .box .image-wrapper {
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.blog-section .box-container .box .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.blog-section .box-container .box .content .icons button {
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  padding: 8px 10px;
  display: inline-block;
  background: #0d0d0d;
  border: none;
  color: white;
  font-size: 10px;
}
.blog-section .box-container .box .content .icons button:hover {
  color: crimson;
}
.blog-section .box-container .box .content .icons button i {
  color: crimson;
  padding-right: 0.5rem;
}
.blog-section .box-container .box .content .icons a {
  font-size: 10px;
}
.blog-section .box-container .box .content h3 {
  font-size: 2rem;
  color: white;
}
.blog-section .box-container .box .content P {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.blog-section .box-container .box .content .btn {
  margin-top: 8px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 7rem;
  background: crimson;
  color: white;
  font-size: 1.3rem;
}
.blog-section .box-container .box .content .btn i {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4rem;
  font-size: 1.3rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  transition: 0.2s linear;
}
.blog-section .box-container .box .content .btn i:hover {
  margin-left: 2rem;
}

.portfolio-section {
  padding: 5rem 9%;
}
.portfolio-section .btn {
  margin-top: 8px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 7rem;
  background: crimson;
  color: white;
  font-size: 1.3rem;
}
.portfolio-section .btn i {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4rem;
  font-size: 1.3rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  transition: 0.2s linear;
}
.portfolio-section .btn i:hover {
  margin-left: 2rem;
}
.portfolio-section .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.portfolio-section .box-container .box {
  overflow: hidden;
  position: relative;
}
.portfolio-section .box-container .box:hover .content {
  transform: translateY(0);
}
.portfolio-section .box-container .box .img-wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-section .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px;
  transform: translateY(-100%);
  transition: 0.2s linear;
  border-radius: 10px;
}
.portfolio-section .box-container .box .content h3 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}
.portfolio-section .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  text-align: center;
}
.portfolio-section .box-container .box .content button {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: crimson;
}
.portfolio-section .box-container .box .content button:hover {
  color: white;
}

/*# sourceMappingURL=index.css.map */
